---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import BaseLayout from "@layouts/Base.astro";
import { concatWithBase } from "@utils/concatWithBase";

export async function getStaticPaths() {
  const sponsors = await getEntry("sponsors", "data");
  return sponsors.data
    .filter(
      (sponsor) =>
        sponsor.class === "Platinum Gold" || sponsor.class === "Gold",
    )
    .map((sponsor) => ({
      params: { id: sponsor.id },
      props: { sponsor },
    }));
}

const { sponsor } = Astro.props;
---

<BaseLayout title={sponsor.name}>
  <h1>{sponsor.name}</h1>
  <Image
    src={concatWithBase(sponsor.image)}
    width="320"
    height="240"
    loading="lazy"
    alt={sponsor.name}
  />
  <p>{sponsor.description}</p>
</BaseLayout>

<style>
  img {
    object-fit: contain;
  }
</style>
