---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { concatWithBase } from "@utils/concatWithBase";

const sponsors = await getEntry("sponsors", "data");
const venueSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Venue",
);
const platinumGoldSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Platinum Gold",
);
const goldSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Gold",
);
const silverSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Silver",
);
const bronzeSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Bronze",
);
const gopherSponsors = sponsors.data.filter(
  (sponsor) => sponsor.class === "Gopher",
);
---

<div id="sponsors" class="background">
  <div class="container">
    <h2>Sponsors</h2>
    <p>スポンサープランの募集は終了しました。</p>
    <h3>会場スポンサー</h3>
    <div class="box">
      {
        venueSponsors.map((sponsor) => (
          <a href={concatWithBase(`sponsors/${sponsor.id}`)}>
            <Image
              class="platinum"
              src={concatWithBase(sponsor.image)}
              alt={sponsor.name}
              width={448}
              height={242}
            />
          </a>
        ))
      }
    </div>
    <h3>Platinum "Go"ld</h3>
    <div class="box">
      {
        platinumGoldSponsors.map((sponsor) => (
          <a href={concatWithBase(`sponsors/${sponsor.id}`)}>
            <Image
              class="platinum"
              src={concatWithBase(sponsor.image)}
              alt={sponsor.name}
              width={448}
              height={242}
            />
          </a>
        ))
      }
    </div>
    <h3>Gold</h3>
    <div class="box">
      {
        goldSponsors.map((sponsor) => (
          <a href={concatWithBase(`sponsors/${sponsor.id}`)}>
            <Image
              class="gold"
              src={concatWithBase(sponsor.image)}
              alt={sponsor.name}
              width={448}
              height={242}
            />
          </a>
        ))
      }
    </div>
    <h3>Silver</h3>
    <div class="box">
      {
        silverSponsors.map((sponsor) => (
          <Image
            class="silver"
            src={concatWithBase(sponsor.image)}
            alt={sponsor.name}
            width={290}
            height={163}
          />
        ))
      }
    </div>
    <h3>Bronze</h3>
    <div class="box">
      {
        bronzeSponsors.map((sponsor) => (
          <Image
            class="bronze"
            src={concatWithBase(sponsor.image)}
            alt={sponsor.name}
            width={164}
            height={92}
          />
        ))
      }
    </div>
    <h3>Gopher</h3>
    <div class="box">
      {
        gopherSponsors.map((sponsor) => (
          <div>
            <Image
              class="gopher"
              src={concatWithBase(sponsor.image)}
              alt={sponsor.name}
              width={123}
              height={69}
            />
            {sponsor.description && <div>fav: {sponsor.description}</div>}
          </div>
        ))
      }
    </div>
  </div>

  <style>
    .background {
      background-color: #f7f9fb;
    }
    .container {
      max-width: 1920px;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 32px;
      padding-inline: 16px;
      text-align: center;
    }

    h2,
    h3 {
      margin: 32px 0;
      @media screen and (max-width: 768px) {
        margin: 16px 0;
      }
    }

    .box {
      background-color: white;
      border-radius: 20px;
      margin-inline: auto;
      max-width: 1024px;
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;

      @media screen and (max-width: 448px) {
        padding: 20px;
      }
    }

    a:hover {
      opacity: 0.7;
    }

    img {
      object-fit: contain;
    }

    .venue,
    .platinum,
    .gold {
      @media screen and (max-width: 448px) {
        max-width: 448px;
        width: 100%;
        height: auto;
      }
    }

    .silver {
      @media screen and (max-width: 448px) {
        width: 75%;
      }
    }
    .bronze {
      @media screen and (max-width: 448px) {
        width: 50%;
      }
    }
    .gopher {
      @media screen and (max-width: 448px) {
        width: 50%;
      }
    }
  </style>
</div>
