---
import { SITE_DESCRIPTION, SITE_NAME } from "@domain/constants";
import { getLangFromUrl } from "@i18n/utils";
import Header from "@components/Header/index.astro";
import Footer from "@components/Footer/index.astro";
import "@styles/global.css";
import { concatWithBase } from "@utils/concatWithBase";

interface Props {
  title?: string;
  description?: string;
}

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;

const _title = title ? `${title} | ${SITE_NAME}` : SITE_NAME;
const _description = description || SITE_DESCRIPTION;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={concatWithBase("/favicon.svg")}
    />
    <meta name="viewport" content="width=device-width" />
    <slot name="title">
      <title>{_title}</title>
    </slot>

    <meta name="title" content={_title} />
    <meta name="description" content={_description} />

    <meta property="og:site_name" content={SITE_NAME} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={_title} />
    <meta property="og:description" content={_description} />
    <meta
      property="og:image"
      content={new URL(concatWithBase("og_image_lg.png"), Astro.url)}
    />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={_title} />
    <meta property="twitter:description" content={_description} />
    <meta
      property="twitter:image"
      content={new URL(concatWithBase("og_image_md.png"), Astro.url)}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
